<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
</head>
<body>
<form id="register-form" method="post" action="/register/submit">
    <div class="label-container" id="name-container">
        <label for="name">Name: </label>
        <div class="input-container">
            <input type="text" id="name" name="name" placeholder="Enter Name">
            <button type="button" class="check-duplicate-button" id="check-duplicate-name-button">Check Duplicate</button>
        </div>
        <div id="name-result"></div>
    </div>
    <div class="label-container" id="email-container">
        <label for="email">Email: </label>
        <div class="input-container">
            <input type="email" id="email" name="email" placeholder="Enter Email">
            <button type="button" class= "check-duplicate-button" id="check-duplicate-email-button">Check Duplicate</button>
        </div>
        <div id="email-result"></div>
    </div>
    <div class="label-container" id="password-container">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" placeholder="Enter Password">
    </div>
    <div class="label-container" id="confirm-password-container">
        <label for="confirm-password">Confirm Password: </label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Repeat Password">
    </div>
    <button type="submit" id="submit-button">Submit</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
</body>
</html>